<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/main.css') }}">
    <meta charset="UTF-8">
    <title>Query Results</title>
</head>
<body>
    <h1>{{ title }}. Numero di elementi trovati: {{ size }}</h1>
    <table>
        <thead>
            <tr>
                <th style="max-width: 250px">Nome</th> 
                <th style="width: 200px">Categories</th>
                <th>Reviews</th>
                <th>Rating</th>
                <th>Date</th>
                <th>Price</th>
                <th>Pegi</th>
                <th style="width: 200px">Image</th>
            </tr>
        </thead>
        <tbody>
         {% for row in results %}
            <tr>
            <td style="max-width: 250px"><a href="{{row.url}}">{{ row.name }}</a></td> 
            <td style="width: 200px">
                <ul>
                {% for cat in row.tags %}
                    <li>{{ cat }}</li>
                {% endfor %}
                </ul>
            </td>
            <td> {{ row.reviews.count }} </td>
            <td> {{ row.reviews.value }} </td>
            <td>{{ row.date }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.pegi_desc }}</td>
            <td style="width: 200px"><img id="game-url" width="150" src="{{ row.img_url }}"></td>

            </tr>
        {% endfor %}
        </tbody></table>



</body>
</html>